@{
    Layout = null;
}
@model List<NSCSC.Shared.Models.CRM.Customers.ItemRefundModels>
   
<div class="row form-horizontal form-label-left">
    <div class="form-group">
        <label for="" class="col-md-2 col-sm-12 col-xs-12" style="font-size:20px; color:#2A78E4">Item list</label>
        <div class="col-md-10 col-sm-12 col-xs-12 topDotBorder">
        </div>
    </div>
    <div class="box-body form-group" style="text-align:center; padding-bottom:30px;">
        <table class="tbCustomer">
            <thead>
                <tr>
                    <td>Name</td>
                    <td>Type</td>
                    <td style="width:20%;">Refund Amount</td>
                </tr>
            </thead>
            <tbody class="tbody-item-refund-confim">
                
                @if (Model != null && Model.Any())
                {
                    foreach (var item in Model)
                    {
                        <tr class="paddingTop30" data-id="@item.OrderDetailId">
                            <td class="text-left paddingLeftCustomer">
                                @item.ProductName <br/>
                                <label style="display: none; color: white;" class="label label-danger errorRefundAmount" id="errorRefundAmount_@item.OrderDetailId"></label>
                            </td>
                            <td class="text-left">@item.sProductType</td>
                            <td style="width:30%;">
                                <input type="hidden" class="quantity" id="txtQuantity_@item.OrderDetailId" value="@item.Quantity" />
                                <input type="hidden" class="price" id="txtPrice_@item.OrderDetailId" value="@item.Price" />

                                <input type="hidden" id="txtOrderDetail_@item.OrderDetailId" value="@item.OrderDetailId" />
                                <input type="hidden" id="txtCurrencySymbol_@item.OrderDetailId" value="@item.CurrencySymbol" />
                                <input type="hidden" id="txtOrderId_@item.OrderDetailId" value="@item.OrderId" />
                                @*<input type="text" style="text-align:right;" value="@item.CurrencySymbol @string.Format("{0}",item.Price.ToString("#,0.00"))" class="form-control text-center clsRefundAmount txtRefundAmount_@item.OrderDetailId keyMoney" onkeyup="ChangeValueInput('@item.OrderDetailId', '@item.CurrencySymbol'); return false;" />*@
                                <label style="font-weight:normal;">@ViewBag.CurrencySymbol</label>
                                <label style="font-weight:normal;">
                                    <input type="text" style="text-align:right;" value="@string.Format("{0}",item.Price.ToString("#,0.00"))" class="form-control text-center clsRefundAmount txtRefundAmount_@item.OrderDetailId keyMoney" onkeyup="ChangeValueInput('@item.OrderDetailId'); return false;" onblur="formatRefundAmount(this);" />
                                </label>
                            </td>
                        </tr>
                    }

                }
            </tbody>
        </table>
    </div>

    <div class="form-group topDotBorder" style="padding-left:0;font-size:20px;font-weight:500;">
        <div class="col-md-3 col-sm-12 col-xs-12">Total Refund</div>
        <div class="col-md-9 col-sm-12 col-xs-12">
            @ViewBag.CurrencySymbol <span id="idTotalRefund">@string.Format("{0}", Model != null ? Model.FirstOrDefault().TotalRefund.ToString("#,0.00") : "0.00")</span>
        </div>
        <label class="label label-danger" id="clsErrorRefundConfirm" style="font-size:17px !important"></label>
    </div>

    <div class="form-group" style="font-size:20px;">
        <div class="col-md-3 col-sm-12 col-xs-12" style="font-weight:500;">Refund Reason</div>
        <div class="col-md-9 col-sm-12 col-xs-12">
            <textarea class="form-control" rows="5" id="txtRefundReason" style="max-width: 100%;overflow: hidden;"></textarea>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        //KeyNumberCheck();

        $(".keyMoney").keypress(function (e) {
            if (window.event) {
                if (window.event.keyCode != 46 && window.event.keyCode > 31
                    && (window.event.keyCode < 48 || window.event.keyCode > 57)) {
                    return (false);//chrome and IE
                }
            } else {
                if (e.which != 46 && e.which > 31
                    && (e.which < 48 || e.which > 57)) {
                    return (false);//firefox
                }
            }
        });

    })
</script>