@model NSCSC.Shared.Models.ClientSite.MyStoreAndBusiness.MyStoreAndBusinessViewModels
@using NSCSC.Shared
@{
    ViewBag.Title = "Hardwares & Services";
}

<div class="row form-horizontal form-label-left" style="margin-bottom:15px;">
    @*Hardwares*@
    <div class="form-group">
        <label for="" class="col-md-12 col-sm-12 col-xs-12 fontUppercase" style="font-size:15px;">Hardwares</label>
    </div>
    <div class="form-group">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <table id="datatable-responsive-list-hardwares"
                   class="table table-striped table-bordered dt-responsive nowrap table table-striped jambo_table bulk_action"
                   cellspacing="0" style="width:100%;">
                <thead style="background-color:#06588C; color:#fff;">
                    <tr>
                        <th>Item</th>
                        <th>Bought - Time</th>
                        <th>Serial No.</th>
                        <th>Receipt No.</th>
                        <th>Status</th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model.ListHardware != null)
                    {
                        for (int i = 0; i < Model.ListHardware.Count; i++)
                        {
                            var item = Model.ListHardware[i];
                            string styleRow = "row-evenItem";
                            if (i % 2 == 0)
                            {
                                styleRow = "row-oddItem";
                            }
                            <tr class="@styleRow">
                                <td><span>@item.ItemName</span></td>
                                <td>@item.sBoughtTime</td>
                                <td><span>@item.SerialNo</span></td>
                                <td><span>@item.ReceiptNo</span></td>
                                <td><span>@item.Status</span></td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>

    @*Services*@
    <div class="form-group">
        <label for="" class="col-md-12 col-sm-12 col-xs-12 fontUppercase" style="font-size:15px;">Services</label>
    </div>
    <div class="form-group">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <table id="datatable-responsive-list-services"
                   class="table table-striped table-bordered dt-responsive nowrap table table-striped jambo_table bulk_action"
                   cellspacing="0" style="width:100%;">
                <thead style="background-color:#06588C; color:#fff;">
                    <tr>
                        <th>Item</th>
                        <th>Bought - Time</th>
                        <th>Receipt No.</th>
                        <th>Status</th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model.ListService != null)
                    {
                        for (int i = 0; i < Model.ListService.Count; i++)
                        {
                            var item = Model.ListService[i];
                            string styleRow = "row-evenItem";
                            if (i % 2 == 0)
                            {
                                styleRow = "row-oddItem";
                            }
                            <tr class="@styleRow">
                                <td><span>@item.ItemName</span></td>
                                <td>@item.sBoughtTime</td>
                                <td><span>@item.ReceiptNo</span></td>
                                <td><span>@item.Status</span></td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>

</div>

<script type="text/javascript">
    var displayLength = 25;
    //=============Hardware
    var _tableHardware = null;
    var _settingsOptionTableHardware = {
        "columnDefs": [
               { "orderable": false, "targets": [4] },
               { "width": "5%", "targets": [4] },
               { "width": "20%", "targets": [0, 1, 2, 3] },
        ],
        "order": [
            [0, 'asc']
        ],
        "autoWidth": false,
        "displayLength": displayLength,
        "bInfo": true,
        "searching": true,
        "lengthChange": true,
    };

    //=============Service
    var _tableService = null;
    var _settingsOptionTableService = {
        "columnDefs": [
               { "orderable": false, "targets": [] },
               { "width": "25%", "targets": [0, 1] },
               { "width": "10%", "targets": [3] },
        ],
        "order": [
            [0, 'asc']
        ],
        "autoWidth": false,
        "displayLength": displayLength,
        "bInfo": true,
        "searching": true,
        "lengthChange": true,
    };
    $(document).ready(function (e) {
        _tableHardware = $('#datatable-responsive-list-hardwares').DataTable($.extend(true, {}, _settingsOptionTableHardware));
        _tableService = $('#datatable-responsive-list-services').DataTable($.extend(true, {}, _settingsOptionTableService));
    });

    /*Function*/
</script>