@{
    Layout = null;
}
@using NSCSC.Shared
@model  List<NSCSC.Shared.Models.ClientSite.MyStoreAndBusiness.DeviceUserModels>
<div class="col-md-12 col-sm-12 col-xs-12">
    <table id="datatable-responsive-list-devicesmanagement"
           class="table table-striped table-bordered dt-responsive nowrap table table-striped jambo_table bulk_action"
           cellspacing="0" style="width:100%;">
        <thead style="background-color:#06588C; color:#fff;">
            <tr>
                <th>DEVICE UUID</th>
                <th>ACTIVATED TIME</th>
                <th>LICENSE KEY</th>
                <th>TYPE</th>
                <th>STATUS</th>
                <th>ACTION</th>
            </tr>
        </thead>
        <tbody id="list-item-hardwares-and-services">
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.UUID</td>
                    <td>@string.Format("{0}", item.ActiveTime.HasValue ? @item.ActiveTime.Value.ToString(Commons.FormatDateTime) : "" )  </td>
                    <td>@item.LicenseKey</td>
                    <td>
                        @if (item.ProductType == (int)Commons.EProductType.Product)
                        {
                            @: Product
                                            }
                        else if (item.ProductType == (int)Commons.EProductType.Addition)
                        {
                            @: Addition
                                            }
                    </td>
                    <td>
                        @if (item.IsActive)
                        {
                            <span class="label label-success">Active</span>
                        }
                        else
                        {
                            <span class="label label-danger">InActive</span>
                        }
                    </td>
                    <td>
                        @if (item.IsActive)
                        {
                            <a href="javascript:void(0)" class="btn btn-danger btn-item-device" onclick="ChangeStatusDevice('@item.ID','@item.AssetID','@item.ProductID')">INACTIVE</a>
                        }
                        else
                        {
                            <a href="javascript:void(0)" class="btn btn-success btn-item-device" onclick="ChangeStatusDevice('@item.ID','@item.AssetID','@item.ProductID')">ACTIVE</a>
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>