@model NSCSC.Shared.Models.OurProducts.Addition.AdditionViewModels
@using NSCSC.Shared.Helpers
@using NSCSC.Shared

@{
    ViewBag.Title = "Additions";
}

<style>
    .bgPrice {
        background-color: #fff;
        margin: 1px;
    }

    .line-heigh-price {
        line-height: 35px;
    }
</style>
<div class="se-pre-con" style="display: none;"></div>
<div class="title_left">
        @*@Html.Partial("~/Views/Shared/_breadcrumb.cshtml",
        new Dictionary<string, string> { { "A", "ADDITIONS" }, { "B", "HOME" }, { "C", "OUR PRODUCTS" } })*@
    <div class="container">
        @*<div class="col-sm-12 col-xs-12 col-md-12" style="margin-top:-25px;float:right">*@
            <h3>
                @*ADDITIONS LIST*@
                <small class="breadcrum">
                    <a href="@Url.Action("Index", "Home")">home</a>  
                    <i class='fa fa-caret-right'></i>
                    <span>additions list</span>
                </small>
            </h3>
        @*</div>*@
        <div class="clearfix"></div>
    </div>
    </div>

<div class="row form-horizontal form-label-left listItemYourCart">
    @*List Category*@
    <div class="form-group itemProduct pading-top-bottom">
        <div class="row infoProduct" style="padding-bottom:10px;">
            <div class="col-md-12 col-sm-12 col-xs-12 pading-top-bottom" style="font-size:15px; padding-bottom:20px;">
                <div class="form-group">
                    <div class="col-md-10 col-sm-10 col-xs-12">
                        Choose products that the additions are applied on
                    </div>
                    <div class="col-md-2 col-sm-2 col-xs-12">
                        <input class="flat" type="checkbox" @*onclick="CheckAllItem(this, '.item-checkchild')"*@ id="idcheckall"/>&nbsp; Check all
                    </div>
                </div>
            </div>
            <div class="col-md-12 col-sm-12 col-xs-12"> 
                @foreach (var item in Model.ListCategory)                  
                 {                     
                    <div class="col-md-3 col-sm-3 col-xs-3 text-center">
                        <div class="form-group text-center imageProduct">                           
                            <img id="upload-preview" class="" src="@item.ImageURL" height="200" width="200" />                           
                        </div>
                        <div class="form-group item-checkchild">
                            <input type="checkbox" id="@item.ID" value="@item.Type" style="display:none" checked class="itemType"/>
                            <input class="flat itemCate idcheckchild" type="checkbox" value="@item.ID" checked />&nbsp;&nbsp;@item.Name.ToUpper()
                        </div>
                    </div>
                }
            </div>
            @*<div class="col-md-12 col-sm-12 col-xs-12 text-right">
                <button type="button" class="btn btn-primary fontUppercase" onclick="btnLoadProductOfAddition()">Load Additions</button>
            </div>*@
        </div>
    </div>


    <div class="row form-horizontal form-label-left listItemCheckOut">
        @*Tab for Product*@
        <div class="form-group" style="padding: 0 30px;">
            <button type="button" class="btn btn-warning fontUppercase tabAdditionType_@Commons.EAdditionType.Hardware.ToString("d")"
                    onclick="LoadProductOfAddition('@Commons.EAdditionType.Hardware.ToString("d")')">
                hardwares
            </button>
            <button type="button" class="btn btn-default fontUppercase tabAdditionType_@Commons.EAdditionType.Software.ToString("d")" onclick="LoadProductOfAddition('@Commons.EAdditionType.Software.ToString("d")')">softwares</button>
            <button type="button" class="btn btn-default fontUppercase tabAdditionType_@Commons.EAdditionType.Location.ToString("d")" onclick="LoadProductOfAddition('@Commons.EAdditionType.Location.ToString("d")')">locations</button>
            <button type="button" class="btn btn-default fontUppercase tabAdditionType_@Commons.EAdditionType.Service.ToString("d")" onclick="LoadProductOfAddition('@Commons.EAdditionType.Service.ToString("d")')">services</button>
            <button type="button" class="btn btn-default fontUppercase tabAdditionType_@Commons.EAdditionType.Account.ToString("d")" onclick="LoadProductOfAddition('@Commons.EAdditionType.Account.ToString("d")')">accounts</button>
            <button type="button" class="btn btn-default fontUppercase tabAdditionType_@Commons.EAdditionType.Function.ToString("d")" onclick="LoadProductOfAddition('@Commons.EAdditionType.Function.ToString("d")')">functions</button>

            @*price*@
            @*<button type="button" class="btn btn-success fontUppercase pull-right"
                    data-backdrop="static" data-toggle="modal" data-target="#bs-modal-pricing-list">
                price list
            </button>*@
        </div>

        <!--List Product-->
        <div id="divListProduct"></div>
    </div>
</div>

<!--modal Pricing List-->
<div class="modal fade" id="bs-modal-pricing-list" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header" style="background-color:#f2f2f2;">
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">×</span>
                </button>
                <h4 class="modal-title fontUppercase text-left">nupos | <span style="color:darkred;">Price List</span></h4>
            </div>
            <div class="modal-body">

                <div class="row" style="background-color:#ddd; border-radius:5px;  margin: 15px;">
                    <div class="row  fontUppercase text-center" style="line-height: 50px; font-size: 30px;">Products</div>
                    <div class="row" style="padding:15px 0;">
                        <div class="row">
                            <div class="col-md-3">
                            </div>
                            <div class="col-md-2 bgPrice">
                                <span class="fontUppercase fontBold col-md-12 text-center">standard</span>
                                <span class="col-md-12 text-center">(2 Devices)</span>
                                <small class="col-md-12 fontItalic text-center">1 iPad Pro + 1 iPad Mini</small>
                            </div>
                            <div class="col-md-2 bgPrice">
                                <span class="fontUppercase fontBold col-md-12 text-center">plus</span>
                                <span class="col-md-12 text-center">(5 Devices)</span>
                                <small class="col-md-12 fontItalic text-center">3 iPad Pro + 2 iPad Mini</small>
                            </div>
                            <div class="col-md-2 bgPrice">
                                <span class="fontUppercase fontBold col-md-12 text-center">pro</span>
                                <span class="col-md-12 text-center">(10 Devices)</span>
                                <small class="col-md-12 fontItalic text-center">7 iPad Pro + 3 iPad Mini</small>
                            </div>
                            <div class="col-md-2 bgPrice">
                                <span class="fontUppercase fontBold col-md-12 text-center">enterprise</span>
                                <span class="col-md-12 text-center">(30 Devices)</span>
                                <small class="col-md-12 fontItalic text-center">20 iPad Pro + 10 iPad Mini</small>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-3 fontUppercase text-right">
                                month <br />
                                subcription
                            </div>
                            <div class="col-md-2 bgPrice line-heigh-price">
                                <span class="fontBold col-md-12 text-center">$28.80</span>
                            </div>
                            <div class="col-md-2 bgPrice line-heigh-price">
                                <span class="fontBold col-md-12 text-center">$58.80</span>
                            </div>
                            <div class="col-md-2 bgPrice line-heigh-price">
                                <span class="fontBold col-md-12 text-center">$88.80</span>
                            </div>
                            <div class="col-md-2 bgPrice line-heigh-price">
                                <span class="fontBold col-md-12 text-center">$198.80</span>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-3 fontUppercase text-right">
                                pre-paid 1-year <br />subcription
                            </div>
                            <div class="col-md-2 bgPrice line-heigh-price">
                                <span class="fontBold col-md-12 text-center">$28.80</span>
                            </div>
                            <div class="col-md-2 bgPrice line-heigh-price">
                                <span class="fontBold col-md-12 text-center">$58.80</span>
                            </div>
                            <div class="col-md-2 bgPrice line-heigh-price">
                                <span class="fontBold col-md-12 text-center">$88.80</span>
                            </div>
                            <div class="col-md-2 bgPrice line-heigh-price">
                                <span class="fontBold col-md-12 text-center">$198.80</span>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-3 fontUppercase text-right">
                                pre-paid 2-years <br />subcription
                            </div>
                            <div class="col-md-2 bgPrice line-heigh-price">
                                <span class="fontBold col-md-12 text-center">$28.80</span>
                            </div>
                            <div class="col-md-2 bgPrice line-heigh-price">
                                <span class="fontBold col-md-12 text-center">$58.80</span>
                            </div>
                            <div class="col-md-2 bgPrice line-heigh-price">
                                <span class="fontBold col-md-12 text-center">$88.80</span>
                            </div>
                            <div class="col-md-2 bgPrice line-heigh-price">
                                <span class="fontBold col-md-12 text-center">$198.80</span>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-3 fontUppercase text-right">
                                pre-paid 3-years <br />subcription
                            </div>
                            <div class="col-md-2 bgPrice line-heigh-price">
                                <span class="fontBold col-md-12 text-center">$28.80</span>
                            </div>
                            <div class="col-md-2 bgPrice line-heigh-price">
                                <span class="fontBold col-md-12 text-center">$58.80</span>
                            </div>
                            <div class="col-md-2 bgPrice line-heigh-price">
                                <span class="fontBold col-md-12 text-center">$88.80</span>
                            </div>
                            <div class="col-md-2 bgPrice line-heigh-price">
                                <span class="fontBold col-md-12 text-center">$198.80</span>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-3 fontUppercase text-right">
                                one-time <br />subcription
                            </div>
                            <div class="col-md-2 bgPrice line-heigh-price">
                                <span class="fontBold col-md-12 text-center" style="color:#337ab7;">$28.80</span>
                            </div>
                            <div class="col-md-2 bgPrice line-heigh-price">
                                <span class="fontBold col-md-12 text-center">$58.80</span>
                            </div>
                            <div class="col-md-2 bgPrice line-heigh-price">
                                <span class="fontBold col-md-12 text-center">$88.80</span>
                            </div>
                            <div class="col-md-2 bgPrice line-heigh-price">
                                <span class="fontBold col-md-12 text-center">$198.80</span>
                            </div>
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
<!--end modal Pricing List -->

<script type="text/javascript">

    var addtionType = '1';

    $(document).ready(function (e) {
        $('#idcheckall').prop('checked', true);        
        init_ICheck();
        LoadProductOfAddition('@Commons.EAdditionType.Hardware.ToString("d")');
    });

    /*Function*/
    /* ICHECK */
    function init_ICheck() {
        if ($("input.flat")[0]) {
            $(document).ready(function () {
                $('input.flat').iCheck({
                    checkboxClass: 'icheckbox_flat-blue',
                    radioClass: 'iradio_flat-blue'
                });
            });
        }
    };
    /* END ICHECK */
    function btnLoadProductOfAddition() {
        LoadProductOfAddition(addtionType);
    }

    function LoadProductOfAddition(_type) {
        addtionType = _type;
        $("button[class*='tabAdditionType_']").removeClass('btn-warning');
        $('.tabAdditionType_' + _type).addClass('btn-warning');

        var elemnetFillData = "#divListProduct";
        var ListCate = [];
        $.each($('.itemCate:checked'), function (index, value) {
            ListCate.push($(this).val());
        });
        var ListType = [];
         $.each($('.itemType:checked'), function (index, value) {
            ListType.push($(this).val());
        });
        $.ajax({
            type: "POST",
            url: CreateAbsoluteUrl("LoadProductOfAddition"),
            traditional: true,
            data: {
                AdditionType: _type,
                ListCate: ListCate,
                ListType: ListType
            },
            //contentType: "application/json; charset=utf-8",
            dataType: "html",
            beforeSend: function () {
                $('.se-pre-con').show();
                $(elemnetFillData).html('');
            },
            error: function (e) {

            },
            success: function (data) {
                $(elemnetFillData).html(data);
            },
            complete: function () {
                $('.se-pre-con').hide();
            }
        });
    }
    //function CheckAllItem(e, containElementSelector) {
    //    var checkAll = $(e).prop("checked");
    //    if (checkAll == true) {
    //        $(containElementSelector).find("input[type='checkbox']").iCheck('check');
    //    }
    //    else {
    //        $(containElementSelector).find("input[type='checkbox']").iCheck('uncheck');
    //    }
    //    //$(containElementSelector).find("input[type='checkbox']").prop("checked", checkAll);        
    //}
    $('#idcheckall').on('ifToggled', function (event) {
        if (event.target.checked) {
            $('.item-checkchild').find("input[type='checkbox']").prop('checked', true).iCheck('update');
        }
        else {
            $('.item-checkchild').find("input[type='checkbox']").prop('checked', false).iCheck('update');
        }
    LoadProductOfAddition(addtionType);
    })   

    $('.idcheckchild').on('ifChanged', function (event) {
        var ischeck = event.target.checked;
        $("#" + $(this).val()).prop('checked',ischeck);
        if (ischeck == true) {
            var count = $('.item-checkchild').length;
            var countCheck = $('.idcheckchild:checked').length;
            if (countCheck == count) {
                $('#idcheckall').prop('checked', true).iCheck('update');
            }
            else {
                $('#idcheckall').prop('checked', false).iCheck('update');
            }
        }
        else {
            $('#idcheckall').prop('checked', false).iCheck('update');
        }  
      LoadProductOfAddition(addtionType);
    })   

    //function Checkchild(e) {
    //    var countCheck1 = $('.item-checkchild:checked').length;
    //    var ischeck = $(e).prop("checked");
    //    if (ischeck == true) {
    //        var count = $('.item-checkchild').length;
    //        var countCheck = $('.item-checkchild:checked').length;
    //        if (countCheck == count) {
    //            $('#idcheckall').iCheck('check');
    //        }
    //        else {
    //            $('#idcheckall').iCheck('uncheck');
    //        }
    //    }
    //    else {
    //        $('#idcheckall').iCheck('uncheck');
    //    }        
    //} 
</script>