@using NuWebNCloud.Shared.Utilities;
@using NSCSC.Shared;
@model NSCSC.Shared.Models.SandBox.Inventory.Product.ProductDetailModels
<div role="main" class="right_col">
    <div class="">
        <div class="page-title">
            <div class="title_left" style="padding: 10px 0px;">
                @Html.Partial("~/Views/Shared/_breadcrumb.cshtml",
                new Dictionary<string, string> { { "A", "Sandbox" }, { "B", "Inventory" }, { "C", "Products - View Detail" } })
            </div>
            <div class="clearfix"></div>
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12 x_panel">
                    <div class="x_content">
                        <div class="row text-right">
                            <ul class="header-buttons pull-right list-inline">
                                <li><a href="javascript:void(0)" onclick="CloseDetail(); return false;" class="btn btn-danger" id="btn-delete"><i class="fa fa-times"></i>&nbsp;Close</a></li>
                            </ul>
                        </div>
                        <div class="row form-horizontal form-label-left">
                            <div class="row form-horizontal form-label-left" style="margin-bottom:15px;">
                                <!--Product Name-->
                                <div class="form-group">
                                    <label class="control-label col-md-2 col-sm-2 col-xs-12">Product Name </label>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        @Model.Name
                                    </div>
                                </div>
                                <!--Category Name-->
                                <div class="form-group">
                                    <label class="control-label col-md-2 col-sm-2 col-xs-12">Category </label>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        @Model.CategoryName
                                    </div>
                                </div>
                                <!--Image-->
                                <div class="form-group">
                                    <label class="control-label col-md-2 col-sm-2 col-xs-12"> Image </label>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        @if (string.IsNullOrEmpty(Model.ImageURL))
                                        {
                                            <img id="upload-preview" src="@Commons.Image100_100" height="100" width="120" />
                                        }
                                        else
                                        {
                                            <img id="upload-preview" src="@Model.ImageURL" height="100" width="120" />
                                        }

                                    </div>
                                </div>
                                <!--Product Code-->
                                <div class="form-group">
                                    <label class="control-label col-md-2 col-sm-2 col-xs-12">Product Code</label>
                                    <div class="col-md-6 col-sm-6 col-xs-12">@Model.Code</div>
                                </div>

                                <!--Public-->
                                <div class="form-group">
                                    <label class="control-label col-md-2 col-sm-2 col-xs-12">Public</label>
                                    <div class="col-md-6 col-sm-6 col-xs-12">@string.Format("{0}", Model.IsPublic ? "Yes" : "No")</div>
                                </div>

                                <!--Status-->
                                <div class="form-group">
                                    <label class="control-label col-md-2 col-sm-2 col-xs-12">Active</label>
                                    <div class="col-md-6 col-ms-6 col-xs-12">@string.Format("{0}", Model.IsActive ? "Yes" : "No")</div>
                                </div>

                                <!--Sequence-->
                                <div class="form-group">
                                    <label class="control-label col-md-2 col-sm-2 col-xs-12">Sequence</label>
                                    <div class="col-md-6 col-ms-6 col-xs-12">@Model.Sequence</div>
                                </div>

                                <!--Is Extend-->
                                <div class="form-group">
                                    <label class="control-label col-md-2 col-sm-2 col-xs-12">Is Extend</label>
                                    <div class="col-md-6 col-ms-6 col-xs-12">@string.Format("{0}", Model.IsExtend ? "Yes" : "No")</div>
                                </div>

                                <!--Sale From-->
                                <div class="form-group">
                                    <label class="control-label col-md-2 col-sm-2 col-xs-12">Sale From</label>
                                    <div class="col-md-6 col-ms-6 col-xs-12">@Model.SaleFrom.ToString(Commons.FormatDate)</div>
                                </div>

                                <!--Sale To-->
                                <div class="form-group">
                                    <label class="control-label col-md-2 col-sm-2 col-xs-12">Sale To</label>
                                    <div class="col-md-6 col-ms-6 col-xs-12">@Model.SaleTo.ToString(Commons.FormatDate)</div>
                                </div>

                                <!--Include Store(s)-->
                                <div class="form-group">
                                    <label class="control-label col-md-2 col-sm-2 col-xs-12">Include Store(s)</label>
                                    <div class="col-md-6 col-ms-6 col-xs-12">
                                        @string.Format("{0}", Model.IsUnlimitedIncludeStore ? "Unlimited" : Model.IncludeStore.ToString())
                                    
                                    </div>
                                </div>

                                <!--Unlimited-->
                                @*<div class="form-group">
                                    <label class="control-label col-md-2 col-sm-2 col-xs-12">Unlimited</label>
                                    <div class="col-md-6 col-ms-6 col-xs-12">@string.Format("{0}", Model.IsUnlimitedIncludeStore ? "Yes" : "No")</div>
                                </div>*@

                                <!--Amount of units-->
                                <div class="form-group">
                                    <label class="control-label col-md-2 col-sm-2 col-xs-12">Amount of units</label>
                                    <div class="col-md-6 col-ms-6 col-xs-12">
                                        @string.Format("{0}", Model.IsUnlimitedAmountOfUnit ? "Unlimited" : Model.AmountOfUnit.ToString())
                                    </div>
                                </div>

                                <!--Unlimited-->
                                @*<div class="form-group">
                                    <label class="control-label col-md-2 col-sm-2 col-xs-12">Unlimited</label>
                                    <div class="col-md-6 col-ms-6 col-xs-12">@string.Format("{0}", Model.IsUnlimitedAmountOfUnit ? "Yes" : "No")</div>
                                </div>*@

                                <!--Number of Accounts-->
                                <div class="form-group">
                                    <label class="control-label col-md-2 col-sm-2 col-xs-12">Number of Accounts</label>
                                    <div class="col-md-6 col-ms-6 col-xs-12">
                                        @string.Format("{0}", Model.IsUnlimitedNumberOfAccount ? "Unlimited" : Model.NumberOfAccount.ToString())
                                    </div>
                                </div>

                                <!--Unlimited-->
                                @*<div class="form-group">
                                    <label class="control-label col-md-2 col-sm-2 col-xs-12">Unlimited</label>
                                    <div class="col-md-6 col-ms-6 col-xs-12">@string.Format("{0}", Model.IsUnlimitedNumberOfAccount ? "Yes" : "No")</div>
                                </div>*@

                                <!--Display web url for client-->
                                <div class="form-group">
                                    <label class="control-label col-md-2 col-sm-2 col-xs-12">Display web url client</label>
                                    <div class="col-md-6 col-ms-6 col-xs-12">@string.Format("{0}", Model.IsDisplayWeb ? "Yes" : "No")</div>
                                </div>

                                <!--Include Local Server-->
                                <div class="form-group">
                                    <label class="control-label col-md-2 col-sm-2 col-xs-12">Include Local Server</label>
                                    <div class="col-md-6 col-ms-6 col-xs-12">@string.Format("{0}", Model.IsIncludeLocalServer ? "Yes" : "No")</div>
                                </div>

                                <!--Include Cloud Server-->
                                <div class="form-group">
                                    <label class="control-label col-md-2 col-sm-2 col-xs-12">Include Cloud Server</label>
                                    <div class="col-md-6 col-ms-6 col-xs-12">@string.Format("{0}", Model.IsIncludeCloudServer ? "Yes" : "No")</div>
                                </div>

                                @*Description*@
                                <div class="form-group">
                                    <label class="control-label col-md-2 col-sm-2 col-xs-12">Description</label>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        @Html.Raw(Model.Description)
                                    </div>
                                </div>

                                <!--Composite-->
                                @*<div class="form-group">
                                    <label class="col-md-2 col-sm-2 col-xs-12"><b><i class="glyphicon glyphicon-triangle-bottom"></i>&nbsp;&nbsp;Composite</b></label>
                                </div>*@

                                <div class="form-group">
                                    <label for="" class="col-md-offset-1 col-md-2 col-sm-12 col-xs-12">Composite</label>
                                    <div class="col-md-6 col-sm-6 col-xs-12 topDotBorder">
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="col-md-offset-2 col-md-7 col-sm-12 col-xs-12">
                                        <table class="table table-bordered table-striped" style="width:100%;">
                                            <thead style="background-color:#34495e; color:#fff;">
                                                <tr>
                                                    <th class="text-center" style="width:20%">Item Name</th>
                                                    <th class="text-center" style="width:20%">Type</th>
                                                    <th class="text-center" style="width:10%">Quantity</th>
                                                    <th class="text-center" style="width:10%">Sequence</th>
                                                    
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @foreach(var item in Model.ListComposite)
                                                {
                                                    <tr>
                                                        <td class="text-center">@item.ProductName</td>
                                                        <td class="text-center">
                                                            @{
                                                                string strCategory = "";
                                                                if (item.AdditionType == (int)Commons.EAdditionType.Hardware)
                                                                {
                                                                    strCategory = Commons.EAdditionType.Hardware.ToString();
                                                                }
                                                                else if (item.AdditionType == (int)Commons.EAdditionType.Location)
                                                                {
                                                                    strCategory = Commons.EAdditionType.Location.ToString();
                                                                }
                                                                else if (item.AdditionType == (int)Commons.EAdditionType.Service)
                                                                {
                                                                    strCategory = Commons.EAdditionType.Service.ToString();
                                                                }
                                                                else if (item.AdditionType == (int)Commons.EAdditionType.Software)
                                                                {
                                                                    strCategory = Commons.EAdditionType.Software.ToString();
                                                                }

                                                                @strCategory
                                                            }
                                                        </td>
                                                        <td class="text-center">@item.Quantity</td>
                                                        <td class="text-center">
                                                            @item.Sequence
                                                        </td>
                                                    </tr>
                                                }
                                            </tbody>
                                        </table>
                                    </div>
                                </div>


                                <!--Price Item-->
                                @*<div class="form-group">
                                    <label class="col-md-2 col-sm-2 col-xs-12"><b><i class="glyphicon glyphicon-triangle-bottom"></i>&nbsp;&nbsp; Price Items</b></label>
                                </div>*@

                                <div class="form-group">
                                    <label for="" class="col-md-offset-1 col-md-2 col-sm-12 col-xs-12">Price Items</label>
                                    <div class="col-md-6 col-sm-6 col-xs-12 topDotBorder">
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="col-md-offset-2 col-md-7 col-sm-12 col-xs-12">
                                        <table class="table table-bordered table-striped" style="width:100%;">
                                            <thead style="background-color:#34495e; color:#fff;">
                                                <tr>
                                                    <th class="text-center" style="width:20%">Period</th>
                                                    <th class="text-center" style="width:10%">Price</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @foreach (var item in Model.ListPrice)
                                                {
                                                    <tr>
                                                        <td class="text-center">
                                                            @{
                                                                string strPeriod = "None";
                                                                if (item.PeriodType == (int)Commons.EPeriodType.Month)
                                                                {
                                                                    strPeriod = Commons.PeriodTypeMonth;
                                                                }
                                                                else if (item.PeriodType == (int)Commons.EPeriodType.Day)
                                                                {
                                                                    strPeriod = Commons.PeriodTypeDay;
                                                                }
                                                                else if (item.PeriodType == (int)Commons.EPeriodType.OneTime)
                                                                {
                                                                    strPeriod = Commons.PeriodTypeOneTime;
                                                                }
                                                                else if (item.PeriodType == (int)Commons.EPeriodType.Year)
                                                                {
                                                                    strPeriod = Commons.PeriodTypeYear;
                                                                }

                                                            }
                                                            @if (item.PeriodType != (int)Commons.EPeriodType.OneTime)
                                                            { @Html.Raw(item.Period)} &nbsp; @strPeriod@if (item.Period > 1)
                                                            { @Html.Raw('s')}
                                                        </td>
                                                        <td class="text-center">
                                                            @Html.Raw(ViewBag.CurrencySymbol + item.Price.ToString("#,0.00"))
                                                        </td>
                                                    </tr>
                                                }
                                            </tbody>
                                        </table>
                                    </div>
                                </div>

                                <!--Extend Price Item-->
                                @*<div class="form-group">
                                    <label class="col-md-2 col-sm-2 col-xs-12"><b><i class="glyphicon glyphicon-triangle-bottom"></i>&nbsp;&nbsp; Extend Price Items</b></label>
                                </div>*@
                                <div class="form-group">
                                    <label for="" class="col-md-offset-1 col-md-2 col-sm-12 col-xs-12">Extend Price Items</label>
                                    <div class="col-md-6 col-sm-6 col-xs-12 topDotBorder">
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="col-md-offset-2 col-md-7 col-sm-12 col-xs-12">
                                        <table class="table table-bordered table-striped" style="width:100%;">
                                            <thead style="background-color:#34495e; color:#fff;">
                                                <tr>
                                                    <th class="text-center" style="width:20%">Period</th>
                                                    <th class="text-center" style="width:10%">Price</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @foreach (var item in Model.ListPriceExtend)
                                                {
                                                    <tr>
                                                        <td class="text-center">
                                                            @{
                                                                string strPeriod = "None";
                                                                if (item.PeriodType == (int)Commons.EPeriodType.Month)
                                                                {
                                                                    strPeriod = Commons.PeriodTypeMonth;
                                                                }
                                                                else if (item.PeriodType == (int)Commons.EPeriodType.Day)
                                                                {
                                                                    strPeriod = Commons.PeriodTypeDay;
                                                                }
                                                                else if (item.PeriodType == (int)Commons.EPeriodType.OneTime)
                                                                {
                                                                    strPeriod = Commons.PeriodTypeOneTime;
                                                                }
                                                                else if (item.PeriodType == (int)Commons.EPeriodType.Year)
                                                                {
                                                                    strPeriod = Commons.PeriodTypeYear;
                                                                }

                                                            }
                                                            @*@item.Period &nbsp; @strPeriod*@
                                                            @if (item.PeriodType != (int)Commons.EPeriodType.OneTime)
                                                            { @Html.Raw(item.Period)} &nbsp; @strPeriod@if (item.Period > 1)
                                                            { @Html.Raw('s')}
                                                        </td>
                                                        <td class="text-center">
                                                            @Html.Raw(ViewBag.CurrencySymbol + item.Price.ToString("#,0.00"))
                                                        </td>
                                                    </tr>
                                                }
                                            </tbody>
                                        </table>
                                    </div>
                                </div>

                                
                                @*Product Type*@
                                <div class="form-group Function">
                                    <label class="control-label col-md-2 col-sm-2 col-xs-12">Product Type</label>
                                    <div class="col-md-2 col-sm-6 col-xs-12">
                                        @if (Model.Type == (byte)Commons.EType.NuDisplay)
                                        {
                                            @Commons.FunctionProductTypeNuDisplay
                                        }
                                        else if (Model.Type == (byte)Commons.EType.NuKiosk)
                                        {
                                            @Commons.FunctionProductTypeNuKiosk
                                        }
                                        else if (Model.Type == (byte)Commons.EType.NuPOS)
                                        {
                                            @Commons.FunctionProductTypeNuPOS
                                        }
                                        else if (Model.Type == (byte)Commons.EType.POinS_Link_App)
                                        {
                                            @Commons.FunctionProductTypePOinSLinkApp
                                        }
                                        else if (Model.Type == (byte)Commons.EType.POZZ)
                                        {
                                            @Commons.FunctionProductTypePOZZ
                                        }
                                        else if (Model.Type == (byte)Commons.EType.POZZ_Display)
                                        {
                                            @Commons.FunctionProductTypePOZZDisplay
                                        }
                                        else if (Model.Type == (byte)Commons.EType.POZZ_Kiosk)
                                        {
                                            @Commons.FunctionProductTypePOZZKiosk
                                        }
                                    </div>
                                </div>
                                @*List Item Function*@
                                <div class="form-group Function">
                                    <div class="col-md-offset-2 col-md-7 col-sm-12 col-xs-12" id="list-function-item">
                                        @if (Model.ListFunction != null && Model.ListFunction.Count > 0)
                                        {
                                            <div class="form-group">
                                                <div class="col-md-7 col-sm-12 col-xs-12">
                                                    <table class="table table-bordered table-striped" style="width:100%;">
                                                        <thead style="background-color:#34495e; color:#fff;">
                                                            <tr>
                                                                <th class="text-center">Name</th>
                                                                <th class="text-center" style="width:15%;">Status</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            @foreach (var item in Model.ListFunction)
                                                            {
                                                                <tr class="">
                                                                    <td>@item.FunctionName</td>
                                                                    <td class="text-center">@string.Format("{0}", item.IsSelected ? "Selected" : "Unselected")</td>
                                                                </tr>
                                                            }
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        }
                                    </div>
                                </div>

                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>