@model NSCSC.Shared.Models.ManagementTool.ClientModule.ClientPackageSession
@using NSCSC.Shared.Helpers
@{
    ViewBag.Title = "Start Your Business";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="title_left">
    <div class="container">
        @*<div class="col-sm-12 col-xs-12 col-md-12" style="margin-top:-25px;float:right">*@
            <h3>
                START YOUR BUSINESS
                <small class="breadcrum">
                    <a href="@Url.Action("Index", "Home")">home</a>
                    <i class='fa fa-caret-right'></i>
                    <span>Start Your Business</span>
                </small>
            </h3>
        </div>
        <div class="clearfix"></div>
    @*</div>*@
</div>
<div class="form-horizontal form-label-left listItemYourCart">
    <div class="form-group itemProduct pading-top-bottom">
        <div class="row infoProduct" style="padding-bottom:10px;">
            <div class="col-md-12 col-sm-12 col-xs-12" style="font-size:15px; padding: 3px 15px 20px 15px;">
                <div class="col-md-12 col-sm-12 col-xs-2">
                    Please select one product that you want to start your business
                </div>
            </div>
            <div class="col-md-12 col-sm-12 col-xs-12">

                <div id="category">
                    @if (Session["ListItemCategory"] != null)
                    {
                        List<NSCSC.Shared.Models.OurProducts.CategoryDetailModels> _item = (List<NSCSC.Shared.Models.OurProducts.CategoryDetailModels>)Session["ListItemCategory"];
                        foreach (var item in _item)
                        {
                            <div class="col-md-3 col-sm-3 col-xs-3 text-center">
                                <a href="@Url.ActionEncoded("Index", "OurProducts", new { ProductType = "Products", CategoryID =item.ID})">
                                    <div class="form-group text-center imageProduct">
                                        @if (string.IsNullOrEmpty(item.ImageURL))
                                        {
                                            <img class="img-cate" src="~/images/dummy/product.jpg" />
                                        }
                                        else
                                        {
                                            <img class="img-cate" src="@item.ImageURL" />
                                        }
                                    </div>
                                    <div class="form-group">
                                        @item.Name
                                    </div>
                                </a>
                               
                            </div>
                        }
                    }
                </div>
               
                @if (Model != null)
                {
                    if (!string.IsNullOrEmpty(@Model.Name))
                    {
                    <div class="col-md-3 col-sm-3 col-xs-3 text-center">
                        <a href="@Url.Action("Index", "OurProducts", new { ProductType = "Packages" })">
                            <div class="form-group text-center imageProduct">
                                @if (string.IsNullOrEmpty(Model.ImageUrl))
                                {
                                    <img class="img-cate" src="~/images/dummy/package.jpg" />
                                }
                                else
                                {
                                    <img class="img-cate" src="@Model.ImageUrl" />
                                }
                            </div>
                            <div class="form-group fontUppercase">
                                @Model.Name
                            </div>
                        </a>
                       
                    </div>
                    }
                }
        </div>
    </div>
</div>
    </div>
<script>
    @*$(document).ready(function () 
    {
        var timer;
        var _item = document.getElementsByClassName("category").length;
        if (_item == 0) {
            timer = setInterval(function () {
                LoadCategory();
            }, 1000);
        }
       
    });
    function LoadCategory() {
        var urlSubMenu = "@Url.Action("GetListCategory", "OurProducts")";
        clearInterval(timer);
        $.ajax({
            type: "GET",
            url: urlSubMenu,
            traditional: true,
            data: {},
            contentType: "application/json; charset=utf-8",
            dataType: "html",
            success: function (data) {
                data = JSON.parse(data);
                CountItemMenu = data.length;
                if (data.length == 0) {
                    timer = setInterval(function () {
                        CallSubMenuCate();
                    }, 1000);
                } else {
                    clearInterval(timer);

          
                    
                }
            },
        });
    }*@
</script>